- name: upgrade apt packages
  become: true
  apt:
    cache_valid_time: 604800
    state: latest
    upgrade: yes

- name: install apt packages for core development
  become: true
  apt:
    cache_valid_time: 604800
    state: latest
    name:
      - build-essential
      - gdb
      - cmake
      - ccache
      - ninja-build
      - clang
      - clangd
      - clang-tidy
      - clang-format
      - lld
      - lldb
      - gcc
      - g++
      - nasm

- name: stow cpp dotfiles
  command: "stow -d $HOME/dotfiles -t ~/ {{ item }}"
  loop:
    - gdb

- name: apt update
  become: True
  apt:
    cache_valid_time: 604800
    state: latest
    upgrade: yes

- name: install apt packages
  become: True
  apt:
    cache_valid_time: 604800
    state: latest
    name:
      - cmake
      - ccache
      - ninja-build
      - shellcheck
      - clang-21
      - clangd-21
      - clang-tidy-21
      - clang-format-21
      - lld-21
      - lldb-21
      - gcc-14
      - g++-14
      - gcc-15
      - g++-15
      - libbullet-dev
      - libglfw3-dev
      - libx11-xcb-dev
      - libnl-3-dev
      - libnl-route-3-dev
      - libtbb-dev
      - libassimp-dev
      - libeigen3-dev
      - libopencv-dev
      - openocd

- name: g++15 default
  become: True
  alternatives:
    name: g++
    path: /usr/bin/g++-15
    link: /usr/bin/g++
    priority: 130

- name: gcc-15 default
  become: True
  alternatives:
    name: gcc
    path: /usr/bin/gcc-15
    link: /usr/bin/gcc
    priority: 130

- name: clang++21 default
  become: True
  alternatives:
    name: clang++
    path: /usr/bin/clang++-21
    link: /usr/bin/clang++
    priority: 180

- name: clang-21 default
  become: True
  alternatives:
    name: clang
    path: /usr/bin/clang-21
    link: /usr/bin/clang
    priority: 180

- name: clangd 21 default
  become: True
  alternatives:
    name: clangd
    path: /usr/bin/clangd-21
    link: /usr/bin/clangd
    priority: 180

- name: LLD 21 default
  become: True
  alternatives:
    name: lld
    path: /usr/bin/lld-21
    link: /usr/bin/lld
    priority: 180

- name: clang-tidy 21 default
  become: True
  alternatives:
    name: clang-tidy
    path: /usr/bin/clang-tidy-21
    link: /usr/bin/clang-tidy
    priority: 180

- name: clang-format 21 default
  become: True
  alternatives:
    name: clang-tidy
    path: /usr/bin/clang-format-21
    link: /usr/bin/clang-format
    priority: 180